<section class="login">
  <form [formGroup]="formLogin">
    <div class="login__container">
      <h1>Login</h1>

      <mat-form-field class="login__input" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" formControlName="username" />
      </mat-form-field>
      <mat-form-field class="login__input" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          placeholder="Contraseña"
          type="password"
          formControlName="password"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="login()"
        [disabled]="formLogin.invalid"
      >
        Acceder
      </button>
      <div class="text-center">
        <a routerLink="public">Volver a la web</a>
      </div>
    </div>
  </form>
</section>
