<section class="login">
  <div class="login__container">
    <h1>Login</h1>
    <mat-form-field class="login__input" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>
    <mat-form-field class="login__input" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">Acceder</button>
  </div>
</section>
